@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background: #f5f5f4;
}

@font-face {
  font-family: myFont;
  src: url(./font/Timeburner-xJB8.ttf);
}
@font-face {
  font-family: myFontBold;
  src: url(./font/TimeburnerBold-peGR.ttf);
}

/* Header */

.header {
  align-items: center;
  background: #222831;
  border: 1px solid black;
  color: #eeeeee;
  display: flex;
  font-family: myFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1.8em;
  font-weight: 800;
  height: 120px;
  justify-content: space-between;
  padding: 0px 20px 0px 20px;
  width: auto;
}

.btn {
  align-items: center;
  background-color: #138515;
  border-radius: 50px;
  border: solid #22c55e 1px;
  box-shadow: rgb(0, 0, 0) 7px 6px 16px -4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans";
  font-size: 15px;
  font-weight: 0;
  padding: 10px 30px;
  transform: translateY(0);
  transition: 1000ms;
}

#logo_head {
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  border: solid 1px #000000;
  color: #000000;
  padding: 10px 50px;
  transform: translateY(-0px);
  transition: 1000ms;
}

/* Main  */

.main {
  align-items: center;
  column-gap: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2% 5% 2% 5%;
  row-gap: 50px;
}

/* Cards */
.card {
  -moz-box-shadow: 7px 4px 12px -1px rgba(66, 68, 90, 1);
  -webkit-box-shadow: 7px 4px 12px -1px rgba(66, 68, 90, 1);
  align-items: center;
  background: #e4e4e7;
  border-radius: 5%;
  border: 1px;
  box-shadow: 7px 4px 12px -1px rgba(66, 68, 90, 1);
  color: #1e293b;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Oxygen, Ubuntu, Cantarell, "Open Sans";
  font-size: 1.4em;
  height: 300px;
  justify-content: space-between;
  text-align: center;
  width: 250px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 0;
}

p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

.readNotRead,
.removeBtn {
  border-radius: 10px;
  border: 1px;
  cursor: pointer;
  height: 35px;
  padding: 0;
  width: 90%;
}

.buttonGreen {
  background-color: #4ade80;
}

.buttonRed {
  background-color: #ef4444;
}

.buttonRed,
.buttonGreen {
  margin-bottom: 10px;
}

.removeBtn {
  background: #d4d4d4;
  margin-top: 10px;
}

.readNotRead:hover {
  opacity: 0.55;
}

.removeBtn:hover {
  background-color: #a3a3a3;
}

/* Form */

.form_container {
  align-items: start;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: auto;
}

.form_div {
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.4em;
  padding: 50px;
}

.form_btn {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

::backdrop {
  background: #6b7280;
  opacity: 0.5;
}

label {
  font-weight: bold;
  text-transform: uppercase;
}

input {
  border: 2px solid #155e75;
  border-radius: 5px;
  font-size: 1.2em;
}

.form_btnInd {
  border: 0;
  background: #059669;
  padding: 1em 1.7em 1em 1.7em;
  color: #f5f5f5;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    background: #34d399;
  }
}
